*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.center{
    max-width: 1100px;
    padding: 0 2%;
    display: flex;
    margin: 0 auto;
}

header{
    background-color: rgba(0, 0, 0, 0.4);
    height: 40px;
}

.logo{
    margin-top: 8px;
    color:white;
}

.menu-container{
    width: 100%;
    justify-content: space-between;

}

.menu-container a.active-menu{
    background-color: rgb(150, 103, 194);
}

.menu-container a {
    color:white;
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    padding: 0 10px ;
    line-height: 23px;
    padding: 8px 10px;
    transition: 0.8s;

}

.menu-container a:hover{
    color: rgb(65, 17, 110);
}

section.main{
    position: relative;
     min-height: 800px;
     background-image: url('../imagensDanca.jpg/download\ \(1\).jpg');
     background-size: cover;
     background-position: center;
}